$large: 1024px;
.module-content_module{
    padding: 24px;
    h1, h2, h3, h4, h5{
        margin: 16px 0px 8px 0px;
    }
    h1{
        @media screen and (max-width: $large){
            font-size: 24px;
            font-weight: bold;
        }
        font-size: 36px;
        font-weight: bold;
    }
}