.gt_float_switcher{
    width: max-content;
    padding: 1px 1px;
    img{
        width: 20px !important;
        height: 20px !important;
    }
    .gt-lang-code, .gt-open{
        font-size: 16px;
        font-weight: 700;
        color: #172647;
        font-family: 'Roboto';
    }
}