.strategy_planning{
    @media screen and (max-width: 1024px)  {
        border-bottom: 2px solid;
        border-right: unset;
        border-color: #A0A5B1;
    }   
    border-right: 2px solid;
    border-color: #A0A5B1;
    border-bottom: unset;
}